* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Outfit', sans-serif;
  background: linear-gradient(135deg, #153677, #4e085f);
  height: 100%;
}

.wrapper {
  width: 1439px;
  max-width: 100%;
  margin: 0 auto;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header__logo {
  margin-top: 47px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 1.5rem;
  background-image: linear-gradient(90deg, #FF6F6F, #DE14FF); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.btn  {
  font-family: 'Outfit';
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 17px;
  color: #EFEFEF;
  background: linear-gradient(88.02deg, #0075FF -27.72%, #0075FF 119.65%);
  border-radius: 10px;
  border: none;
  padding: 10px 12px;
  line-height: 21px;
}
